.col {
    display: flex;
    padding: 1 em;
    margin: 1 em;
    justify-content: space-around;
}

body {
    padding: 1 em;
}

.card {
    padding-bottom: 10px;
    width: 18rem;
    margin: 1em;
    align-content: center;
    justify-content: space-between;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card-text {
    text-align: center;
}

.card-img-top {
    padding: 1em;
}
h2 {
    padding-top: 1em;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navimg{
    width: 1em;
    height: 1em;
}

.navbar-brand{
    width: 1em;
    height: 1em;
}