.col {
    display: flex;
    padding: 1 em;
    margin: 1 em;
    justify-content: space-between;
}

body {
    padding: 1 em;
    font-family: 'Roboto', sans-serif;
}

.card {
    padding-bottom: 10px;
    width: 18rem;
    margin: 1em;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card-text {
    text-align: center;
}

.card-img-top {
    padding: 1em;
}
h2 {
    padding-top: 1em;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar a{
    text-decoration: none; /*fără underline*/

}

.container-fluid img{
    width: 2em;
    height: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
}

.meniu{
    display: flex;
    justify-content: space-between;
}
.meniu li{
    margin:0.5em;
}