.col {
    display: flex;
    padding: 1 em;
    margin: 1 em;
    justify-content: space-between;
}

body {
    padding: 1 em;
    font-family: 'Roboto', sans-serif !important;
}

.card {
    padding: 10px;
    width: 18rem;
    margin: 1em;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card-text {
    text-align: center;
}

.card-img-top {
    padding: 1em;
}
h2 {
    padding-top: 1em;
    font-weight: bold !important;
}

.navbar-brand{
    display: flex;
    align-items: center;
    font-weight: bold !important;
    font-style: italic;
    justify-content: space-between;
}

.navbar-brand h1{
    padding-left: 1em;
}

.navbar a{
    text-decoration: none; /*fără underline*/

}

.container-fluid img{
    width: 2em;
    height: 2em;
}

footer {
    display: flex !important;
    justify-content: space-between;
    background-color: #DCF5B8 !important;
}

footer a{
    text-decoration: none;
}

nav li{
    margin:0.5em;
}

nav li a{
    color: black !important;
}

nav{
    display: flex;
    justify-content: space-between;
}

.hopethisworks {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
carousel-inner{
    max-height: 20em;
}

header {
    background-color: #DCF5B8;
}